@page "/"
<div class="jumbotron">
    @* Fila 1 de cards *@
    @* Generaremos filas de 3 cards cada una *@
    <div class="card-deck mb-3">
        @* Generamos el primer card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Beta/bet.jpg" alt="Card image cap" height="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>

        @* Generamos el segundo card *@
        <div class="card ">
            <img class="card-img-top" src="/Images/Beta/Beta.webp" alt="Card image cap" height="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>

        @* Generamos el tercer card *@
        <div class="card ">
            <img class="card-img-top" src="/Images/Beta/beta2.jpg" alt="Card image cap" height="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
    </div>

    @* Fila 2 de cards *@
    @* Generaremos filas de 3 cards cada una *@
    <div class="card-deck mb-3">
        @* Generamos el primer card *@
        <div class="card">
            <img class="card-img-top" src="/Images/Beta/beta3.jpg" alt="Card image cap" height="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>

        @* Generamos el segundo card *@
        <div class="card ">
            <img class="card-img-top" src="/Images/Beta/beta4.jpeg" alt="Card image cap" height="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>

        @* Generamos el tercer card *@
        <div class="card ">
            <img class="card-img-top" src="/Images/Beta/beta8.jpg" alt="Card image cap" height="250">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div>
    </div>
</div>

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>

            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@code {
    @* Crear dos variables para el titulo y la descripción del card *@
    public string title_card = "Nombre pez";
    public string content_card = "Descripción de la especie";
    public string author_card = "Yaneth M.";
}